.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* BOX */
.content-warpper {
  margin: 0 auto;
  margin-top: 10%;
  max-width: 750px;
  height: 500px;
  background-color: #00b4fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 0px 1px #012677; 
  box-shadow: 4px 4px 0px 1px #012677;
}

.content-container {
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
/* Header */
.header-container{
  height: 15%;
}

.header-container h1 {
  margin: 0;
  text-align: center;
}
.header-container p {
  margin: 0;
  color: w;
}

/* Form */
.form-container {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.form-container  p{
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  text-decoration: underline #001449;
}